.object-fit-cover {
    object-fit: cover;
}

.card-img-wrapper {
    height: 150px;
}

.fs-7 {
    font-size: 12px;
}

.card-description {
    height: 33px;
}

.card-title {
    height: 40px;
}

table td {
    vertical-align: middle;
}

.btn-danger-ligth {
    background: #dc35462f;
    color: #dc3545;
}

.bg-danger-ligth {
    background: #dc35461f;
    color: #dc3545;
}

.btn-danger-ligth:hover {
    background: #dc3545;
    color: white;
}

.product-card:hover {
    border-color: #dc3545;
}

.adm-prod-sm-img-wrapper {
    width: 60px;
    height: 60px;
}

.limit-lines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}