.object-fit-cover {
    object-fit: cover;
}

.card-img-wrapper {
    height: 150px;
}

.fs-7{
    font-size: 12px;
}

.card-description {
    height: 33px;
}

.card-title {
    height: 40px;
}

.btn-danger-ligth {
    background: #dc35462f;
    color: #dc3545;
}

.btn-danger-ligth:hover {
    background: #dc3545;
    color: white;
}

.product-card:hover {
    border-color: #dc3545;
}